In [1]:
#Numbers

a = 2 + 2 #somma
b = 5 - 2 #sottrazione
c = 3 * 4 #prodotto
d = 6 / 2 #divisione
e = 8 // 3 #prende il numero intero della divisione
f = 8 % 3 #prende il resto della divisione
g = 2 ** 3 #elevamento a potenza
print (a, b, c, d, e, f, g)

4 3 12 3.0 2 2 8

In [2]:
#Strings

word = "Python"
x = word[0] #la prima lettera della parola è in posizione 0
y = word[-1] #l'ultima lettera è in posizione -1
print (word, x, y)
xy = "sto leggendo il tutorial"
z = xy[0:3] #comando che prende le lettere dalla posizione 0 alla 2
z_1 = xy[-8:] #comando che prende le ultime 8 lettere
z_2 = xy[0:3] + xy[-4:-1] #concatenazione tra stringhe
print (z, z_1, z_2)
len(xy) #funzione che restituisce la lunghezza della stringa

Python P n
sto tutorial storia

24

In [10]:
#List : oggetti mutabili

myList = [] #lista vuota  
cubes = [1, 8, 27, 65]
cubes[1] #prende il primo elemento della lista
cubes[3] = 64 # posso cambiarne il contenuto

In [11]:
cubes

[1, 8, 27, 64]

In [12]:
cubes.append(125)
#funzione che aggiunge un valore nell'ultima posizione
cubes

[1, 8, 27, 64, 125]

In [13]:
cubes.insert(2,50)
cubes

[1, 8, 50, 27, 64, 125]

In [17]:
del cubes[1] #elimina il valore in posizione 1
cubes

[1, 50, 27, 64, 125]

In [18]:
20 in cubes #funzione che ritorna un 
            #boolean e ci dice se il valore è nella lista

False

In [14]:
len(cubes) #la funzione len si applica anche alle liste

6

In [15]:
myList = [[1,2],[2,3],[6,7]] #lista di liste

In [16]:
myList[1][1] #prende il secondo elemento del secondo gruppo

3

In [17]:
myList = [10, 20, 30]
myList[:2] # lo slicing può essere applicato anche qui

[10, 20]

In [21]:
#Tuple: sequenza immutabile, questa è la differenza con le liste

medaglie = ('oro', 'argento', 'bronzo') #parentesi NON obbligatorie
o, a, b = medaglie #spacchettamento
o

'oro'

In [22]:
#lista di tuple
t1 = (1, 2)
t2 = (3, 4)
myList = [t1, t2]
myList

[(1, 2), (3, 4)]

In [23]:
#Dizionari: simile alle liste ma l'ordine degli elementi non 
#è definito perchè i dizionari non sono delle sequenze

myDict = {
    "primo":10, #la chiave è una stringa in questo caso
    "secondo":20,
    "terzo":30
}
myDict

{'primo': 10, 'secondo': 20, 'terzo': 30}

In [25]:
myDict["quarto"] = 40
myDict

{'primo': 10, 'secondo': 20, 'terzo': 30, 'quarto': 40}

In [26]:
del myDict["secondo"]
myDict

{'primo': 10, 'terzo': 30, 'quarto': 40}

In [27]:
myDict.clear() #elimina tutte le chiavi e i valori
myDict

{}

In [28]:
"terzo" in myDict

False

In [35]:
d1 = {10 : 'a', 20 : 'b'}
d2 = {30 : 'c'}
d1, d2

({10: 'a', 20: 'b'}, {30: 'c'})

In [47]:
l1 = d1.items() #viene creata una specie di lista che contiene, 
#come elementi, delle tuple e in ogni tupla è stata 
#inserita sia la chiave sia il valore del dizionario
l2 = d2.items()
l1, l2

(dict_items([(10, 'a'), (20, 'b')]), dict_items([(30, 'c')]))

In [48]:
d3 = dict(l1)
d3

{10: 'a', 20: 'b'}

In [4]:
#Set (insieme): come una specie di dizionario dal quale eliminiamo i valori
# e teniamo solo le chiavi
#Set è mutabile

mySet = {10, 20, 30, 40}
mySet

{10, 20, 30, 40}

In [7]:
#per creare un insieme vuoto 

mySet = set()
mySet

set()

In [9]:
mySet.add(10)
mySet.add(20)
mySet.add(30)
mySet

{10, 20, 30}

In [10]:
#possiamo creare insiemi immutabili attraverso frozenset

mySet = frozenset([10, 20, 30])
mySet.add(40)

AttributeError: 'frozenset' object has no attribute 'add'

In [11]:
30 in mySet

True

In [12]:
#operazioni con gli insiemi

mySet1 = {10, 20, 30, 40}
mySet2 = {30, 40, 50, 60}
mySet1 & mySet2 #prende solo gli elementi comuni

{30, 40}

In [13]:
mySet1 | mySet2 #or

{10, 20, 30, 40, 50, 60}

In [14]:
mySet1 ^ mySet2 #or esclusivo

{10, 20, 50, 60}

In [ ]:
#statement IF
x = int(input("Inserire un numero intero: "))
if x<0:
    print ("Non si accettano numeri negativi")
elif x==0:
    print("Zero")
elif x==1:
    print ("Single")
else:
    print ("More")

In [18]:
x=11
if x < 10:
    print("<10")
else:
    print(">=10")

<=10

In [1]:
#statement While

x = 0
while x < 3:
    print(x)
    x += 1

0
1
2

In [2]:
#loop infinito
while True: #per sempre
    x = input("inserire una stringa ")
    if x == "stop":
        break
    print(x)

inserire una stringa ciao
ciao
inserire una stringa sono
sono
inserire una stringa massimo
massimo
inserire una stringa stop

In [4]:
while True: #per sempre
    x = input("inserire una stringa ")
    if x == "stop":
        break
    if x < "b":
        continue
    print(x)

inserire una stringa a
inserire una stringa massimo
massimo
inserire una stringa ancora
inserire una stringa stop

In [5]:
# statement For

myList = [1, 2, 3, 4]
for i in myList:
    print(i)

1
2
3
4

In [6]:
myString = "pithon"
for i in myString:
    print(i)

p
i
t
h
o
n

In [8]:
myDict = {'a':1, 'b':2, 'c':3} 
for i in myDict: #ciclo che stamoa le chiavi
    print(i)

a
b
c

In [9]:
myDict = {'a':1, 'b':2, 'c':3}
for i in myDict.values(): #ciclo che stampa i valori
    print(i)

1
2
3

In [10]:
myDict = {'a':1, 'b':2, 'c':3}
for i in myDict.items(): #ciclo che stampa la coppia chiave-valore
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [11]:
#funzione Range
# range(start, stop, step) stop unico obbligatorio

for i in range(10, 16, 2):
    print(i)

10
12
14

In [20]:
#scrivi un programma che crea una lista che contiene i numeri
#interi pari tra 10 e 25 usando for e un range fino a 30 che 
#escluda i numeri compresi tra 25 e 30

l = []
for x in range(10, 30):
    if(x %2 == 0) and (x < 25):
        l.append(x)

l

[10, 12, 14, 16, 18, 20, 22, 24]

In [27]:
# List Comprehension: meccanismo che a partire da una lista ne 
#produce un'altra partendo dalla lista d'origine

numbers = [1,2,3,4,5,6,7,8,9]
newList = [n * n for n in numbers if n % 2 == 1]
newList

[1, 9, 25, 49, 81]

In [33]:
l = [x for x in range(10,30) if x%2==0 and x<25]
l

[10, 12, 14, 16, 18, 20, 22, 24]

In [36]:
# Dict Comprehension

a = 'python'
b = {k: ord(k) for k in a}
b

{'p': 112, 'y': 121, 't': 116, 'h': 104, 'o': 111, 'n': 110}

In [40]:
# Set Comprehension 

a = 'doppione'
c = {k for k in a}
c

{'d', 'e', 'i', 'n', 'o', 'p'}

In [4]:
# Funzioni

def myFunc(a, b, c, d):
    print(a, b, c, d)

In [11]:
def myFunc(x):
    x=10
    print(x)

In [13]:
y = 20
myFunc(y)

10

In [14]:
def listadif(l1, l2=[1,2,3,4,5]):
    l = []
    for x in l1:
        if not x in l2:
            l.append(x)
    return l

In [15]:
a = [1,3,6,7]
b = [3,10]
listadif(a,b)

[1, 6, 7]

In [16]:
listadif(a)

[6, 7]